.adding__product {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(80, 84, 93, 0.9);
	width: 100%;
	height: 100vh;	
}

.adding__product__container {
	position: relative;
	width: 730px;
	height: 770px;
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	border-radius: 30px;
	background-color: #A4C3C9;
	padding: 40px 95px;
}

.adding__product__title {
	width: 540px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	font-weight: 600;
	background-color: #E3BCA2;
}

.adding__product__form {
	width: 540px;
	height: 770px;
	display: flex;
	justify-content: left;
	margin-top: 20px;
}

.adding__product__input__name__input input {
	width: 540px;
	height: 60px;
	border-radius: 30px;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	border: none;
	padding: 10px;
	margin-bottom: 30px;
}

.adding__product__input__description__input textarea{
	width: 540px;
	height: 250px;
	border-radius: 30px;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	border: none;
	padding: 15px;
	resize: none;
	margin-bottom: 30px;
}

.adding__product__input__quantity__input input {
	width: 255px;
	height: 60px;
	border-radius: 30px;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	border: none;
	padding: 10px;
	margin-bottom: 60px;
}

.adding__input__submit__button input {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 80px;
	background-color: #E3BCA2;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 600;
	border-radius: 20px;
	margin:  0 auto 0 auto;
}

.adding__input__submit__button input:hover {
	transform: scale(1.1);
	transition: 200ms all ease;
	cursor: pointer;
}

.adding__input__submit__button input:not(:hover) {
	transform: scale(1.0);
	transition: 200ms all ease;
	cursor: pointer;
}