.cart__mini {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 100px;
    right:  50px;
    height: 100px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    box-shadow: 0 0 7px #737272;
    z-index: 10;
}

.cart__mini__img img {
    height: 55px;
}

.cart__mini__counter {
    display: flex;
    width: 28px;
    height: 28px;
    font-size: 12px;
    color: #fff;
    border:  3px solid red;
    border-radius: 50%;
    position: absolute;
    background-color: red;
    bottom: 2px;
    right: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cart__mini:hover {
    transform:  scale(1.1);
    transition:  100ms linear all;
    cursor: pointer;
}

.cart__mini:not(:hover) {
    transform:  scale(1.0);
    transition:  100ms linear all;
}