.cart__mini {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 100px;
    right:  50px;
    height: 100px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    box-shadow: 0 0 7px #737272;
    z-index: 10;
}

.cart__mini__img img {
    height: 55px;
}

.cart__mini__counter {

}

.cart__mini:hover {
    transform:  scale(1.1);
    transition:  100ms linear all;
    cursor: pointer;
}

.cart__mini:not(:hover) {
    transform:  scale(1.0);
    transition:  100ms linear all;
}