.editing {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(80, 84, 93, 0.9);
	width: 100%;
	height: 100vh;
}

.editing__container {
	position: relative;
	width: 730px;
	height: 900px;
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	border-radius: 30px;
	background-color: #A4C3C9;
	padding: 40px 95px;
}

.editing__title {
	width: 540px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	font-weight: 600;
	background-color: #E3BCA2;
}

.editing__form {
	width: 540px;
	height: 770px;
	display: flex;
	justify-content: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

.editing__input__name {
	display: flex;
	flex-direction: column;
	width: 540px;
	height: 120px;
	margin-bottom: 30px;
}

.editing__input__title {
	width: 255px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	background-color: #fff;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 600;
}

.editing__input__name__input input {
	width: 540px;
	height: 60px;
	border-radius: 30px;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	border: none;
	padding: 10px;
}

.editing__input__description {
	margin-bottom: 30px;
}

.editing__input__description__input textarea {
	width: 540px;
	height: 250px;
	border-radius: 30px;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	border: none;
	padding: 15px;
	resize: none;
}

.editing__input__quantity__input input {
	width: 255px;
	height: 60px;
	border-radius: 30px;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	border: none;
	padding: 10px;
}

.editing__input__submit__button input {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 80px;
	background-color: #E3BCA2;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 600;
	border-radius: 30px;
	margin :30px 160px 0px 160px;
}

.exit_editing {
	 position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    border: 1px solid #adacac;
    border-radius: 50%;
    border-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 1.35;
    cursor: pointer;
    color: #000;
    margin: 0 10px;
    z-index: 2;
}

.exit_editing:hover {
    color:  red;
    border-color:  red;
    border-radius: 2px;
    transform: scale(1.1);
    transition: 100ms ease all;
}

