<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Админ-панель</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_reg.css') }}">
</head>
<body>
    <section class="formSection">
        <div class="box">
            <div class="form">
                <h2>Добавление</h2>
                <form method="post">
                    <div class="inputBx">
                        <input type="text" name="name" id="name" placeholder="Имя">
                    </div>
                    <div class="inputBx">
                        <input type="text" name="surname" id="surname" placeholder="Фамилия">
                    </div>
                    <div class="inputBx">
                        <input type="text" name="username" id="username" placeholder="Уникальное имя">
                    </div>
                    <div class="inputBx">
                        <input type="email" name="email" id="email" placeholder="Почта">
                    </div>
                    <div class="inputBx">
                        <input type="password" name="password" id="password" placeholder="Пароль">
                    </div>
                    <div class="inputBx">
                        <input type="submit" value="Добавить">
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>