<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Админ-панель</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    {% if not logIn %}

    <section class="formSection">
        <div class="box">
            <div class="form">
                <h2>Вход</h2>
                <form method="post">
                    <div class="inputBx">
                        <input type="text" name="username" id="username" placeholder="Имя пользователя">
                    </div>
                    <div class="inputBx">
                        <input type="password" name="password" id="password" placeholder="Пароль">
                    </div>
                    <div class="inputBx" id="login-admin">
                        <input type="submit" value="Вход">
                    </div>
                </form>
            </div>
        </div>
    </section>

    {% else %}

        <div class="admin-body">
            
            <aside>
            <div class="buttons">
                <div class="aside-name">
                    <p>Панель инструментов</p>
                </div>
                <div class="add-admin">
                    <a href="/add_admin">Добавить админа</a>
                </div>
                <div class="logout">
                    <a href="/logout">Выйти</a>
                </div>
            </div>
            </aside>
            
            <div class="admin-tools">
                <h1>Это админ-панель, для {{session['username']}}</h1>
                <div class="admin-table">
                <table>
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Уникальное имя</th>
                            <th>E-mail</th>
                            <th>Время добавления</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for el in admins %}

                            <tr>
                                <td>{{el.name}}</td>
                                <td>{{el.surname}}</td>
                                <td>{{el.username}}</td>
                                <td>{{el.email}}</td>
                                <td>{{el.time.date()}}</td>
                            </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </div>
            </div>
        </div>

    {% endif %}

</body>
</html>