<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Админ-панель</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/hookah.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="body">
    
    {% if not logIn %}

    <section class="formSection">
        <div class="box">
            <div class="form">
                <h2>Вход</h2>
                <form method="post">
                    <div class="inputBx">
                        <input type="text" name="username" id="username" placeholder="Имя пользователя">
                    </div>
                    <div class="inputBx">
                        <input type="password" name="password" id="password" placeholder="Пароль">
                    </div>
                    <div class="inputBx" id="login-admin">
                        <input type="submit" value="Вход">
                    </div>
                </form>
            </div>
        </div>
    </section>

    {% else %}

        <div class="admin-body">
            
            <aside>
                <div class="buttons">
                    <div class="aside-name">
                        <p>Панель инструментов</p>
                    </div>
                    <div>
                        <form action="/add_admin" >
                            <button class="button">Добавить админа</button>
                        </form>
                    </div>
                    <div>
                        <button class="button show_add_product">Добавить товар</button>
                    </div>
                    <div>
                        <form action="/logout" >
                            <button class="button logout">Выйти</button>
                        </form>
                    </div>
                </div>
                <div class="buttons">
                    <div class="aside-name">
                        <p>Таблицы</p>
                    </div>
                    <div>
                        <button class="button show-admin active">Таблица админов</button>
                    </div>
                    <div>
                        <button class="button show-order">Таблица заказов</button>
                    </div>
                    <div>
                        <button class="button show-product">Таблица товаров</button>
                    </div>
                </div>
            </aside>
            
            <div class="admin-tools">
                <h1>Это админ-панель, для {{session['username']}}</h1>
            <div class="admin-table" id="admin-table">
                <table>
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Уникальное имя</th>
                            <th>E-mail</th>
                            <th>Время добавления</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for el in admins %}

                            <tr>
                                <td>{{el.name}}</td>
                                <td>{{el.surname}}</td>
                                <td>{{el.username}}</td>
                                <td>{{el.email}}</td>
                                <td>{{el.time.strftime("%d.%m.%Y, %H:%M:%S")}}</td>
                                <td>
                                    <div class="edit__delete__buttons">
                                        <button data-tooltip="Изменить" class="edit_table_admin"><img src="{{ url_for('static', filename='img/edit.png') }}" alt="" class="edit_table_admin"  data-id="ad_{{el.id}}"></button>
                                        <button data-tooltip="Удалить" class="delete_table"><img src="{{ url_for('static', filename='img/delete.png') }}" alt="" class="delete_table"  data-id="ad_{{el.id}}"></button>
                                    </div>
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
                </div>
                <div class="order-table" id="order-table" style="display:none;">
                    <table>
                        <thead>
                            <tr>
                                <th>Номер заказа</th>
                                <th>Имя</th>
                                <th>Адрес</th>
                                <th>Номер телефона</th>
                                <th>Telegram/WhatsApp</th>
                                <th>Комментарий</th>
                                <th>Залог</th>
                                <th>Заказ</th>
                                <th>Сумма заказа</th>
                                <th>Время заказа</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for el in orders %}

                            <tr>
                                <td>{{el.id}}</td>
                                <td>{{el.name}}</td>
                                <td>{{el.address}}</td>
                                <td>{{el.phone}}</td>
                                <td>{{el.messenger}}</td>
                                <td>{{el.comment}}</td>
                                <td>{{el.deposit}}</td>
                                <td>{{el.order_el}}</td>
                                <td>{{el.order_price}}</td>
                                <td>{{el.time.strftime("%d.%m.%Y, %H:%M:%S")}}</td>
                                <td>
                                    <div class="edit__delete__buttons">
                                        <button data-tooltip="Изменить" class="edit_table_order"><img src="{{ url_for('static', filename='img/edit.png') }}" alt="" class="edit_table_order"  data-id="or_{{el.id}}"></button>
                                        <button data-tooltip="Удалить" class="delete_table"><img src="{{ url_for('static', filename='img/delete.png') }}" alt="" class="delete_table"  data-id="or_{{el.id}}"></button>
                                    </div>
                                </td>
                            </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="order-table" id="product-table" style="display:none;">
                    <table>
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Описание</th>
                                <th>Количество</th>
                                <th>Время добавления</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for el in products %}

                            <tr>
                                <td>{{el.name}}</td>
                                <td>{{el.description}}</td>
                                <td>{{el.count}}</td>
                                <td>{{el.time.strftime("%d.%m.%Y, %H:%M:%S")}}</td>
                                <td>
                                    <div class="edit__delete__buttons">
                                        <button data-tooltip="Изменить" class="edit_table"><img src="{{ url_for('static', filename='img/edit.png') }}" alt="" class="edit_table"  data-id="pr_{{el.id}}"></button>
                                        <button data-tooltip="Удалить" class="delete_table"><img src="{{ url_for('static', filename='img/delete.png') }}" alt="" class="delete_table"  data-id="pr_{{el.id}}"></button>
                                    </div>
                                </td>
                            </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    {% endif %}


    <div class="adding display_none">
        <div class="editing__container">
            <div class="exit_editing">
                ×
            </div>
            <div class="editing__title">
                Добавление товара
            </div>
            <div class="editing__form">
                <form id="add_product_form" action="">
                    <div class="editing__input__name">
                        <div class="editing__input__title">
                            Название
                        </div>
                        <div class="editing__input__name__input">
                            <input type="text" name="name" id="add_product_name" placeholder="Название товара">
                        </div>
                    </div>
                    <div class="editing__input__description">
                        <div class="editing__input__title">
                            Описание
                        </div>
                        <div class="editing__input__description__input">
                            <textarea name="description" id="add_product_description" placeholder="Описание товара"></textarea>
                        </div>
                    </div>
                    <div class="editing__input__quantity">
                        <div class="editing__input__title">
                            Количество
                        </div>
                        <div class="editing__input__quantity__input">
                            <input type="number" min="0" name="count" id="add_product_count" placeholder="Количество товара">
                        </div>
                    </div>
                    <div class="editing__input__submit__button">
                        <input id="add_product_form_submit" type="button" value="Добавить">
                    </div>
                </form>
            </div>
        </div>
    </div>      

    <div class="editing display_none">
        <div class="editing__container">
            <div class="exit_editing">
                ×
            </div>
            <div class="editing__title">
                Изменение товара
            </div>
            <div class="editing__form">
                <form id="edit_product_form" action="">
                    <div class="editing__input__name">
                        <div class="editing__input__title">
                            Название
                        </div>
                        <div class="editing__input__name__input">
                            <input type="text" name="name" id="edit_product_name" placeholder="Название товара">
                        </div>
                    </div>
                    <div class="editing__input__description">
                        <div class="editing__input__title">
                            Описание
                        </div>
                        <div class="editing__input__description__input">
                            <textarea name="description" id="edit_product_description" placeholder="Описание товара"></textarea>
                        </div>
                    </div>
                    <div class="editing__input__quantity">
                        <div class="editing__input__title">
                            Количество
                        </div>
                        <div class="editing__input__quantity__input">
                            <input type="number" min="0" name="count" id="edit_product_count" placeholder="Количество товара">
                        </div>
                    </div>
                    <div class="editing__input__submit__button">
                        <input id="edit_product_form_submit" type="button" value="Изменить">
                    </div>
                </form>
            </div>
        </div>
    </div> 
    <!-- display-none -->
    <div class="editing_order display_none"> 
        <div class="editing__order__container">
            <div class="exit_editing">
                ×
            </div>
            <div class="editing__order__title">
                Изменение заказа
            </div>
            <div class="editing__order__form">
                <form id="edit_order_form" action="">
                    <div class="editing__order__input">
                        <input type="text" name="name" id="name" placeholder="Имя заказчика">
                    </div>
                    <div class="editing__order__input">
                        <input type="text" name="address" id="address" placeholder="Адрес">
                    </div>
                    <div class="editing__order__input">
                        <input type="number" name="phone" id="phone" placeholder="Номер телефона">
                    </div>
                    <div class="editing__order__input">
                        <input type="text" name="order_el" id="order_el" placeholder="Заказ">
                    </div>
                    <div class="editing__order__input">
                        <input type="text" name="comment" id="comment" placeholder="Комментарий">
                    </div>
                    <div class="editing__order__input">
                        <input type="text" name="deposit" id="deposit" placeholder="Залог">
                    </div>
                    <div class="editing__order__input__submit__button">
                        <input id="edit_order_form_submit" type="button" value="Изменить">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="editing_admin display_none"> 
        <div class="editing__admin__container">
            <div class="exit_editing">
                ×
            </div>
            <div class="editing__admin__title">
                Изменение админа
            </div>
            <div class="editing__admin__form">
                <form id="edit_admin_form" action="">
                    <div class="editing__admin__input">
                        <input type="text" name="name" id="admin_name" placeholder="Имя">
                    </div>
                    <div class="editing__admin__input">
                        <input type="text" name="surname" id="admin_surname" placeholder="Фамилия">
                    </div>
                    <div class="editing__admin__input">
                        <input type="text" name="username" id="admin_username" placeholder="Уникальное имя">
                    </div>
                    <div class="editing__admin__input">
                        <input type="text" name="email" id="admin_email" placeholder="E-mail">
                    </div>
                    <div class="editing__admin__input__submit__button">
                        <input id="edit_admin_form_submit" type="button" value="Изменить">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tables.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</body>
</html>